@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Round');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --mc: #2274A4; /* Main color */
  --hc: #33A5D9; /* Highlight color */
  --bc: #D9F3FF; /* Background color */
  --nc: #A2B8C2; /* Neutral color */
  --tc: #FFFFFF; /* Text color */
}
