@import '../colors.css';

.map {
  margin-top: 5em;
  position: relative;
  /*border: solid 1px black; /* DELETE */
}

.map img {
  height: 576px;
  width: 742px;
}

.stairs {
  float: right;
  margin-top: 1em;
  margin-right: 20em;
  padding: 0.25em;
  background-color: var(--tc);
  border-radius: 50px;
}

.stairs .btn {
  font-size: larger;
  border-radius: 50px;
  border: 0;
  color: var(--nc);
  background-color: var(--tc);
}

.stairs .btn-primary:not(:disabled):not(.disabled).active {
  background-color: var(--hc);
}
